<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CCSUN</title>

		<style type="text/css">
		tspan{
		font-family:"微软雅黑";
		}
		</style>
	</head>
	<body>
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/jquery-1.7.1.min.js"></script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script src="../static/js/ccsun.js"></script>
	</body>
</html>
